.selectbox {
  margin-top: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  border: 1px solid grey;
  text-align: center;
  color: whitesmoke;

  /* background-color: rgba(66, 66, 66, 0.404); */
}

.heading {
  margin-top: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

select {
  background-color: rgba(66, 66, 66, 0.404);
  color: whitesmoke;
  padding: 5px;
  width: 250px;
}
