.App {
  background-color: rgb(17, 17, 17);
  color: rgb(177, 174, 174);
}
.allcontent {
  display: flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}
